* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  max-width: 100%; }

body {
  background-color: white;
  font-family: 'Titillium Web', sans-serif;
  width: 100vw;
  height: auto;
  max-width: 100%;
  overflow-x: hidden; }

h1 {
  font-size: 3.5em; }

h2 {
  font-size: 2.7em; }

h3 {
  font-size: 2em; }

p {
  font-size: 1.25em; }

.main__wrapper {
  background-color: white;
  padding-left: 60px;
  padding-right: 60px; }

.main__grid__item {
  position: relative;
  display: grid;
  grid-template-columns: 100%; }

/***** COURSES  PAGE *****/
.coursesWrapper {
  background-color: #2c2c2c;
  width: 100%;
  max-width: auto;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center; }

.coursesWrapper h2 {
  letter-spacing: 0.65rem;
  width: 100vw;
  height: 60px;
  margin-top: 60px;
  font-family: 'Righteous', cursive;
  font-size: 3em;
  color: #f3f1d0; }

.coursesWrapper h3 {
  color: #86c232; }

/******** HEADER ********/
header {
  font-family: 'Quicksand', sans-serif;
  background-color: black;
  display: flex;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  margin-bottom: 2px;
  top: 0; }

#menu {
  display: flex;
  z-index: 1;
  top: 0;
  background-color: #0c0c0c;
  height: 10px;
  width: 100%;
  left: 0;
  right: 0;
  justify-content: space-between;
  padding: 0 5%;
  box-sizing: border-box;
  transition: 0.5s; }

.mutedLogo {
  display: flex;
  flex-direction: column;
  color: #ebebeb;
  cursor: pointer; }
  .mutedLogo span {
    padding: 0;
    margin-top: 0;
    font-size: 25px; }

/* HAM BUTTON */
.btn_menu {
  font-size: 25px;
  color: white;
  cursor: pointer;
  padding-top: 5px;
  display: none; }

ul.show {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  top: 150px;
  z-index: 1; }

/* END HEADER */
/******* MAIN NAVBAR ********/
.menu-items {
  display: flex;
  list-style: none; }

.menu-items li {
  border-radius: 3px;
  margin: 0 5px; }

.menu-items li a {
  padding: 20px 8px;
  text-decoration: none;
  font-size: 15px;
  display: block;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s;
  color: #ebebeb; }
  .menu-items li a:hover {
    color: #00ffbf; }

/* END MAIN NAVBAR */
/*********MAIN WRAPPER****************/
.main__wrapper {
  background-color: #ebebeb;
  padding-left: 60px;
  padding-right: 60px; }

.main__grid {
  display: grid;
  grid-template-columns: 1fr; }

.products h2 {
  text-align: center;
  letter-spacing: 0.8rem;
  width: 100%;
  height: 60px;
  font-family: 'Righteous', cursive;
  font-size: 2em;
  color: #00ffbf; }

.projects h2 {
  text-align: center;
  letter-spacing: 0.8rem;
  width: 100%;
  height: 60px;
  font-family: 'Righteous', cursive;
  font-size: 2em;
  color: #00ffbf; }

.productsWrapper {
  background-color: #0c0c0c;
  width: 100vw;
  max-width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center; }
  .productsWrapper h2 {
    font-family: 'Righteous', cursive;
    letter-spacing: 0.8rem;
    width: 100%;
    height: 60px;
    font-size: 2em; }
  .productsWrapper h3 {
    color: #0c0c0c; }

.projectsWrapper {
  background-color: #0c0c0c;
  width: 100vw;
  max-width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center; }
  .projectsWrapper h2 {
    font-family: 'Righteous', cursive;
    letter-spacing: 0.8rem;
    width: 100%;
    height: 60px;
    font-size: 2em;
    color: #ffc400; }
  .projectsWrapper h3 {
    color: #0c0c0c; }

/* PRODUCT PAGE  */
.main__grid__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 60px;
  padding-right: 60px;
  grid-gap: 16px; }

.grid__colum {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px; }
  .grid__colum h3 {
    margin-top: 10px;
    font-family: 'Quicksand', sans-serif;
    color: #ebebeb; }

.grid__img {
  display: flex;
  width: 100%;
  border-radius: 2px;
  background-color: #cecece;
  overflow: hidden;
  justify-content: center;
  align-items: center; }

.item__details {
  display: flex;
  flex-direction: column; }

.item__details > h3 {
  color: #242424;
  font-weight: 600;
  font-size: 18px;
  margin: 0 0 1px 0; }

.item__details > p {
  color: #a0a0a0;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400; }

/* PRODUCTS SUBMENU */
.products__subMenu {
  background-color: black;
  height: 50px;
  width: 100%;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  padding: 0 4%;
  box-sizing: border-box;
  transition: 0.5s; }

.subMenu-items {
  display: flex;
  align-content: flex-start;
  list-style: none;
  margin-bottom: 0px; }

.subMenu-items li a {
  padding: 12px 8px;
  text-decoration: none;
  font-size: 15px;
  display: block;
  text-transform: lowercase;
  cursor: pointer;
  transition: 0.5s;
  color: white;
  font-weight: lighter; }

/* END PRODUCTS SUBMENU */
/******* INDEX HERO  *******/
#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 400px;
  width: auto;
  color: #ebebeb;
  background-image: url("/images/heros/index_hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  #hero h1 {
    color: #00ffbf; }

/***** PRODUCTS HERO *****/
#productsHero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 80px;
  width: 100%;
  color: #ebebeb;
  background-image: url("/images/heros/products_Hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

/***** PROJECTS HERO *****/
#projectsHero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 80px;
  width: 100%;
  color: #ebebeb;
  background-image: url("/images/heros/projects_hero.PNG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

/***** SUPPORT HERO *****/
#supportHero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 80px;
  width: 100%;
  color: #ebebeb;
  background-image: url("/images/heros/support.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

#supportHero h1 {
  color: #e20000;
  font-size: 70px; }

/******* ABOUTUS HERO *******/
#aboutHero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 80px;
  width: auto;
  color: #0c0c0c;
  background-image: linear-gradient(0deg, rgba(100, 231, 74, 0.08), rgba(100, 231, 74, 0.08)), url("/images/heros/teamwork-g683511f43_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  #aboutHero h1 {
    color: #00ffbf; }

/******PRODUCTS CARDS*****/
.card__products__item {
  width: 400px;
  height: 530px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  background-color: #ebebeb;
  overflow: hidden;
  margin: 20px;
  margin-top: 0px;
  text-align: center;
  flex-direction: column;
  transition: all 0.65s; }
  .card__products__item img {
    width: 400px;
    height: 300px;
    object-fit: fill; }
  .card__products__item h3 {
    font-weight: 600; }
  .card__products__item p {
    color: #0c0c0c;
    /*display: none;*/
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300; }
  .card__products__item:hover {
    transform: translateY(-2px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.1); }

.productsWrapper button {
  margin-top: 30px;
  font-size: 1em;
  font-weight: bold;
  padding: 5px 20px;
  width: 100px;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  color: #ebebeb;
  background-color: #333333; }
  .productsWrapper button:hover {
    background-color: #00ffbf;
    color: #333333; }

/******PROJECTS CARDS*****/
.card__projects__item {
  width: 400px;
  height: 200px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  background-color: #ebebeb;
  overflow: hidden;
  margin: 20px;
  margin-top: 0px;
  text-align: center;
  flex-direction: column;
  transition: all 0.65s; }
  .card__projects__item:hover {
    transform: translateY(-2px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.1); }
  .card__projects__item img {
    width: 130px;
    height: 43px;
    object-fit: cover; }
  .card__projects__item h3 {
    font-weight: 600; }
  .card__projects__item p {
    color: black;
    /*display: none;*/
    padding: 0 1rem;
    font-size: 12px;
    font-weight: 300; }

.projectsWrapper button {
  margin-top: 20px;
  font-size: 1em;
  font-weight: bold;
  padding: 5px 10px;
  width: 100px;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  color: #ebebeb;
  background-color: #333333; }
  .projectsWrapper button:hover {
    background-color: #00ffbf;
    color: #333333; }

.data-content > * {
  padding: 1em; }

.data-content {
  max-width: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5em; }
  .data-content .form__logo {
    text-align: center;
    font-size: 3em; }
    .data-content .form__logo span {
      color: #00ffbf; }

.contact__form {
  background-color: #222222;
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 5px; }
  .contact__form h3 {
    color: #ebebeb; }
  .contact__form p {
    color: #ebebeb; }

.contact__form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px; }
  .contact__form form p {
    margin: 0;
    padding: 1em; }
  .contact__form form .block {
    grid-column: 1 / 3; }
  .contact__form form input {
    width: 100%;
    padding: .7em;
    border: none;
    outline: none;
    color: #ebebeb;
    background-color: #222222;
    border-bottom: 1px solid #00ffbf; }
  .contact__form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    outline: none;
    resize: none;
    color: #ebebeb;
    background-color: #222222;
    border-bottom: 1px solid #00ffbf; }

.contact__info {
  font-family: 'Quicksand', sans-serif; }

.contact__info h4, p, ul {
  color: #ebebeb;
  text-align: center;
  margin: 0 0 1em 0; }

.contact__info ul {
  list-style: none;
  padding: 0; }
  .contact__info ul li {
    padding: .3em; }

.contact__map {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  background-color: white; }

button {
  font-weight: 500;
  width: 100%;
  padding: 1em;
  background-color: #04dda7;
  color: #0c0c0c;
  border: 0;
  text-transform: uppercase;
  outline: none; }

button:hover {
  transition: background-color 1s ease-out;
  background-color: #00ffbf; }

/****** FOOTER ******/
footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90px;
  align-items: center;
  justify-content: center;
  display: inline-flexbox;
  text-align: center;
  bottom: auto;
  padding-top: 20px;
  background-color: #242424;
  color: #ebebeb; }
  footer p {
    font-size: 15px; }

.footer p {
  line-height: 2px;
  text-align: center;
  color: #ebebeb; }

/****** FOOTER SOCIAL ICONS  ******/
.socials {
  display: flex;
  list-style: none;
  justify-items: center;
  justify-content: center; }

.socials li {
  margin: 0 25px; }

.socials a {
  text-decoration: none;
  color: #ebebeb; }

.socials a i {
  font-size: 2.5rem;
  transition: 400ms; }

.socials a:hover i {
  color: #00ffbf; }

.piano {
  font-size: 200px; }

/* MEDIA RESPONSIVE FOR MOBILE */
@media (max-width: 768px) {
  .main__grid__container {
    display: block; }
  main {
    margin-top: 70px; }
  .mutedLogo {
    display: none; }
  header {
    width: 100%;
    position: fixed; }
  #menu {
    height: 70px;
    width: 100%; }
  .btn_menu {
    display: block;
    position: fixed; }
  .menu-items {
    display: none; }
  .menu-items.show {
    display: block;
    position: fixed;
    background-color: #0c0c0c;
    width: 100%;
    height: 100vh;
    text-align: center;
    transition: all .4s;
    left: 0%;
    right: 0%;
    top: 70px; }
  .menu-items li {
    display: block;
    line-height: 20px; }
  .menu-items li:hover {
    background-color: #00ffbf; }
  .menu-items li a {
    font-size: 15px;
    outline: 0;
    border-bottom: 1px solid #ebebeb;
    color: #ebebeb; }
  .menu-items li a:hover {
    color: #00ffbf;
    color: #0c0c0c; }
  #products__subMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6px; }
  .subMenu-items li a {
    padding: 12px 8px;
    font-size: 16px;
    display: block;
    text-transform: lowercase;
    cursor: pointer;
    transition: 0.5s;
    color: #ebebeb;
    font-weight: lighter; }
  .data-content {
    flex-direction: column; }
  .maps {
    margin-top: 10px; }
  .card__products__item {
    width: 100%;
    height: 530px; }
    .card__products__item img {
      width: 100%;
      height: 313px;
      object-fit: cover; }
  .card__projects__item {
    width: 100%;
    height: 200px; }
    .card__projects__item img {
      width: 100%;
      height: 313px;
      object-fit: cover; } }

@media (min-width: 850px) {
  .productsWrapper {
    display: grid;
    grid-template-columns: repeat(3, 430px);
    width: 100vw;
    max-width: auto;
    height: auto;
    justify-content: center;
    text-align: center; }
  .projectsWrapper {
    display: grid;
    grid-template-columns: repeat(3, 430px);
    width: 100vw;
    max-width: auto;
    height: auto;
    justify-content: center;
    text-align: center; }
  .data-content {
    display: grid;
    grid-template-columns: 2fr 1fr; }
  .contact__info h4, p, ul {
    padding: 0em;
    text-align: left; } }

@media (max-width: 445px) {
  .subMenu-items li a {
    font-size: 10px; }
  .products__submenu {
    padding: 0 1.5%; } }

.global__main__app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: auto;
  width: 100%;
  background-color: #7f5a83;
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
  padding: 0px 10px; }

.app__header {
  display: flex;
  align-items: center;
  width: 1300px;
  height: 40px;
  margin-bottom: 2px;
  justify-content: center;
  border-bottom: 1px solid #ebebeb; }
  .app__header h3 {
    font-size: 1rem;
    color: #ebebeb;
    margin-left: 10px; }

.left__column {
  display: flex;
  height: 600px;
  width: 150px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding-top: 10px; }
  .left__column hr {
    margin-top: 50px; }

.app__controller {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 1300px;
  height: 500px;
  margin: 5px  5px;
  border-radius: 5px;
  background-size: 100% 100%, 100% 100%;
  background-position: 0 0, 0 0;
  box-shadow: 0 2px 1px -1px #FFF inset, 0 3px 1px -1px #E1DDDC inset, 2px 0 1px -1px rgba(227, 222, 224, 0.25) inset, 4px 0 2px -2px rgba(227, 222, 224, 0.25) inset, -4px 0 2px -2px rgba(227, 222, 224, 0.35) inset, 0 -4px 3px -3px #353439 inset, 30px 40px 50px rgba(0, 0, 0, 0.5), 0px 30px 70px rgba(0, 0, 0, 0.25); }

.app__footer {
  display: flex;
  position: fixed;
  padding-top: 10px;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #0c0c0c;
  color: #ebebeb;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333; }

.status__gridContainer {
  position: absolute;
  right: 10px; }

.status__grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 50px);
  grid-gap: 5px;
  grid-template-rows: 35px;
  padding: 0px; }

.status__item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  width: auto;
  height: 20px; }
  .status__item i {
    font-size: 20px; }

.faders__grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat 2, 90px; }

.pads__container {
  grid-template-columns: repeat(8, 60px);
  grid-template-rows: repeat(2, 60px);
  gap: 10px;
  display: grid;
  position: absolute;
  bottom: 220px;
  left: 100px;
  width: 60px;
  height: 60px;
  padding-top: 5px;
  margin-left: 5px;
  margin-right: 5px; }

.pads {
  background-color: #ebebeb;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: -1px -1px 1px black, 2px 2px 6px rgba(0, 0, 0, 0.8), -1px -1px 3px rgba(0, 0, 0, 0.8); }
  .pads:hover {
    box-shadow: -1px -1px 1px black, 2px 2px 6px rgba(0, 0, 0, 0.8), inset -2px -2px 5px #555555, inset 2px 2px 5px rgba(85, 85, 85, 0.8); }

.back-green {
  background-color: green; }

.back-red {
  background-color: red; }

.mmc__container {
  display: flex;
  position: absolute;
  left: auto;
  top: 140px;
  right: 100px;
  justify-content: center;
  align-items: center;
  width: 225px;
  height: 400px;
  border: 5px; }

.controller__mmc {
  display: grid;
  grid-template-columns: repeat(4, 30px);
  grid-gap: 10px;
  grid-template-rows: 15px 15px 15px 30px;
  border-bottom: 2px solid white;
  padding-bottom: 5px; }

.mmc__button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  width: 30px;
  height: 15px;
  background-color: white;
  border-radius: 5%;
  cursor: pointer; }
  .mmc__button:hover {
    color: #00ffbf;
    box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1), 2px 2px 6px rgba(0, 0, 0, 0.8), inset -2px -2px 5px rgba(0, 225, 255, 0.5), inset 2px 2px 5px rgba(0, 0, 0, 0.5); }

.mmc__menu__button {
  display: flex;
  flex-direction: row;
  grid-column: 1 / 3;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  width: auto;
  height: 15px;
  background-color: white;
  border-radius: 5%;
  cursor: pointer; }
  .mmc__menu__button:hover {
    color: #00ffbf;
    box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1), 2px 2px 6px rgba(0, 0, 0, 0.8), inset -2px -2px 5px rgba(0, 225, 255, 0.5), inset 2px 2px 5px rgba(0, 0, 0, 0.5); }

.mmc__mode__button {
  display: flex;
  grid-row: 4 / 5;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-size: 10px;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 5%;
  cursor: pointer; }
  .mmc__mode__button:hover {
    color: #00ffbf;
    box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1), 2px 2px 6px rgba(0, 0, 0, 0.8), inset -2px -2px 5px rgba(0, 225, 255, 0.5), inset 2px 2px 5px rgba(0, 0, 0, 0.5); }

.mmc__pageLeft__button {
  display: flex;
  flex-direction: row;
  grid-column: 1 / 4;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  width: auto;
  height: 30px;
  background-color: white;
  border-radius: 5%;
  cursor: pointer; }
  .mmc__pageLeft__button:hover {
    color: #00ffbf;
    box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1), 2px 2px 6px rgba(0, 0, 0, 0.8), inset -2px -2px 5px rgba(0, 225, 255, 0.5), inset 2px 2px 5px rgba(0, 0, 0, 0.5); }

.mmc__pageRight__button {
  display: flex;
  flex-direction: row;
  grid-column: 4 / 7;
  grid-row: 2 / 3;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  width: auto;
  height: 30px;
  background-color: white;
  border-radius: 5%;
  cursor: pointer; }
  .mmc__pageRight__button:hover {
    color: #00ffbf;
    box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1), 2px 2px 6px rgba(0, 0, 0, 0.8), inset -2px -2px 5px rgba(0, 225, 255, 0.5), inset 2px 2px 5px rgba(0, 0, 0, 0.5); }

.mmc__scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  width: 70px;
  height: 70px;
  margin-right: 15px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer; }
  .mmc__scroll:hover {
    box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1), 2px 2px 6px rgba(0, 0, 0, 0.8), inset -2px -2px 10px rgba(0, 225, 255, 0.5), inset 2px 2px 10px rgba(0, 0, 0, 0.5); }
  .mmc__scroll img {
    width: 70px;
    justify-content: center;
    align-items: center;
    align-content: center; }

#usb__icon {
  transform: rotate(-90deg); }

.screen-container {
  display: block;
  position: absolute;
  width: 128px;
  height: 92px;
  border-radius: 2px;
  background-color: black;
  background-image: linear-gradient(#272028, #231D1F, #201921, #231E1B, #231C24);
  right: 70px;
  top: 10px;
  box-shadow: 0px -1px 0.5px #B6ADA4, 0 1px 0.5px #AAA09F, -1px 0 0.5px #B2A9AA, 1px 0 0.5px #BFB1B0, 3px 0 2px rgba(231, 219, 218, 0.5), 0 0 2.5px 3px rgba(234, 228, 223, 0.25), 0 0 2.5px 1px #130C09 inset; }

.screen-display {
  display: block;
  width: 128px;
  height: 90px;
  background-color: red;
  position: absolute;
  top: 1px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
  background-image: linear-gradient(90deg, transparent 15%, rgba(134, 135, 129, 0.05), transparent 85%), radial-gradient(rgba(92, 93, 87, 0.75), transparent 70%), linear-gradient(#65675C, #727469, #6E746A);
  background-size: 10px 100%, 200px 200px, 100% 100%;
  background-position: 0 0, center center, 0 0;
  background-repeat: repeat, no-repeat, no-repeat;
  box-shadow: 0 0 2px 0 #2B262C, 0 0 1px 1px #221B23 inset, 0 0 3px #221B23 inset, 0 0 3px 0.5px #383838 inset, 0 0 5px #484848 inset, 9px 0 7px -4px #605A5C inset, 0 -2px 1px #7A7772 inset; }

.screen-display {
  padding: 2px 12px; }

.screen-display p {
  font-family: "Source Code Pro", monospace, monospace;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px;
  color: #272822;
  padding-top: 2px;
  line-height: 3px;
  text-shadow: 0 0 0.5px #272822, 0.2px 0.2px 0.5px #4A4B45, -0.2px 0.2px 0.5px #51524C, 0.2px -0.2px 0.5px #4A4B45, 0 0 0.75px #51524C, 0 0 1.25px #5F5F5F; }

.mixer {
  display: flex; }

.channelstrip {
  user-select: none;
  background: #323232;
  box-shadow: 0 0 0 2px #646464;
  border-radius: 4px;
  padding: .25rem;
  margin: .25rem;
  width: 4rem;
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch; }
  .channelstrip .label {
    font-family: 'VT323';
    font-size: .75rem;
    text-transform: uppercase;
    display: block;
    background: #122;
    border-radius: 1px;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.05), 0 3px 10px 5px rgba(0, 0, 0, 0.8) inset, 0 5px 10px 5px rgba(20, 30, 40, 0.5) inset, 0 0 0 1px rgba(0, 0, 0, 0.75);
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 20px rgba(200, 255, 200, 0.75);
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 0 .5rem;
    position: relative;
    overflow: hidden; }
    .channelstrip .label:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(-10deg, transparent 10%, rgba(255, 255, 255, 0.1) 60%, transparent 62%, transparent); }
  .channelstrip .fader {
    position: relative;
    flex-grow: 1;
    margin: 3rem 0 3rem 0; }
    .channelstrip .fader .fader-track {
      position: absolute;
      z-index: 1;
      top: 0;
      bottom: 0;
      width: .25rem;
      left: 50%;
      margin-left: -.125rem;
      background: black;
      border: none;
      border-radius: 5px;
      box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.25) inset; }
    .channelstrip .fader .scale-tick {
      position: absolute;
      left: 50%;
      opacity: .5; }
      .channelstrip .fader .scale-tick:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: -1.5rem;
        width: 1rem;
        height: 1px;
        background: #c8c8c8; }
      .channelstrip .fader .scale-tick:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: .5rem;
        width: 1rem;
        height: 1px;
        background: #c8c8c8; }
      .channelstrip .fader .scale-tick:last-child:after, .channelstrip .fader .scale-tick:last-child:before, .channelstrip .fader .scale-tick:first-child:after, .channelstrip .fader .scale-tick:first-child:before {
        height: 2px; }
      .channelstrip .fader .scale-tick:last-child:after {
        content: '0';
        font-size: .5rem;
        white-space: nowrap;
        width: .6rem;
        text-indent: .8rem;
        line-height: 0;
        color: #c8c8c8; }
      .channelstrip .fader .scale-tick:nth-child(2), .channelstrip .fader .scale-tick:nth-child(4) {
        display: none; }
    .channelstrip .fader .fader-thumb {
      position: absolute;
      z-index: 1;
      border: none;
      height: 4rem;
      width: 2rem;
      left: 50%;
      margin-left: -1rem;
      margin-top: -2rem;
      border-radius: 0px;
      cursor: pointer;
      user-select: none;
      background: repeating-linear-gradient(0deg, transparent, transparent 5px, black 6px), linear-gradient(0deg, #464646 0%, #5a5a5a 14%, #141414 15%, #141414 50%, #5a5a5a 84%, #141414 85%, #1e1e1e 100%);
      box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.5); }
      .channelstrip .fader .fader-thumb:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin-top: -1px;
        height: 3px;
        background: rgba(255, 255, 255, 0.75); }
  .channelstrip .horizontal-meter {
    height: .5rem;
    margin-top: .5rem;
    background: #000;
    border-radius: 1px;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.05), 0 3px 5px 1px rgba(0, 0, 0, 0.8) inset, 0 5px 30px 0 rgba(255, 255, 255, 0.25) inset, 0 0 0 1px rgba(0, 0, 0, 0.75);
    position: relative; }
    .channelstrip .horizontal-meter .activity {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: repeating-linear-gradient(90deg, transparent 0px, transparent 2px, black 2px, transparent 3px, transparent 3px), linear-gradient(90deg, lime, lime 70%, yellow 70%, yellow 90%, red 90%);
      box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.8) inset, 0 -1px 2px 1px rgba(0, 0, 0, 0.8) inset; }
  .channelstrip button {
    text-transform: uppercase;
    border-radius: 5rem;
    background: linear-gradient(180deg, white 0%, #c8c8c8 5%, #969696 20%, #b4b4b4 95%);
    box-shadow: 0 -3px 1px 0 rgba(0, 0, 0, 0.5) inset, 0 0 1px 2px rgba(255, 255, 255, 0.5) inset, 0 2px 10px 0 rgba(0, 0, 0, 0.125);
    border: none;
    font-size: .75rem;
    height: 30px;
    color: black;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
    padding: 0; }
    .channelstrip button:focus {
      outline: none; }
    .channelstrip button:active {
      height: 28px;
      margin-top: 2px;
      background: linear-gradient(0deg, white 0%, #c8c8c8 5%, #969696 20%, #b4b4b4 95%);
      box-shadow: 0 -2px 1px 0 rgba(0, 0, 0, 0.5) inset, 0 0 1px 2px rgba(255, 255, 255, 0.5) inset, 0 2px 10px 0 rgba(0, 0, 0, 0.125);
      padding-top: 2px; }
    .channelstrip button.active {
      background: linear-gradient(0deg, #ff5050 5%, #f00a0a 95%, #c86464 100%);
      box-shadow: 0 -3px 1px 0 rgba(0, 0, 0, 0.5) inset, 0 0 1px 2px rgba(255, 255, 255, 0.25) inset, 0 2px 10px 0 rgba(0, 0, 0, 0.125), 0 0 10px 0 red;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 20px #ffc864; }
  .channelstrip button.solo:active {
    height: 28px;
    margin-top: 2px;
    background: linear-gradient(0deg, white 0%, #c8c8c8 5%, #b4b4b4 95%);
    box-shadow: 0 -2px 1px 0 rgba(0, 0, 0, 0.5) inset, 0 0 1px 2px rgba(255, 255, 255, 0.5) inset, 0 2px 10px 0 rgba(0, 0, 0, 0.5);
    padding-top: 2px; }
  .channelstrip button.solo.active {
    background: linear-gradient(0deg, #50c8ff 5%, #0a50f0 95%, #6496c8 100%);
    box-shadow: 0 -3px 1px 0 rgba(0, 0, 0, 0.5) inset, 0 0 1px 2px rgba(255, 255, 255, 0.25) inset, 0 2px 10px 0 rgba(0, 0, 0, 0.5), 0 0 10px 0 #00c8ff;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 20px #00c8ff; }
  .channelstrip button {
    position: relative;
    top: .5rem;
    margin-bottom: .5rem; }

.drop__menu {
  width: 140px;
  position: relative; }
  .drop__menu .drop__modeBtn {
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: space-between;
    background-color: #3a3a3a;
    border: 1px solid #3a3a3a;
    border-radius: 5px;
    color: white; }
    .drop__menu .drop__modeBtn i {
      font-weight: 100;
      font-size: 20px;
      transition: transform  0.3s linear;
      color: #00ffbf; }

.drop__label {
  margin: 0px  5px; }

.drop__content {
  display: none;
  background-color: #3a3a3a; }
  .drop__content .drop__options {
    margin-top: 2px; }
    .drop__content .drop__options li {
      padding: 0  10px;
      list-style: none;
      height: 25px; }
    .drop__content .drop__options li:hover {
      box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.8);
      border-top: 1px solid rgba(255, 255, 255, 0.5);
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      background-color: #00ff88;
      color: black; }

.drop__menu.active .drop__content {
  display: block;
  position: absolute;
  bottom: 50px;
  right: 0;
  z-index: 1;
  height: 180px;
  border: 1px solid white;
  background-color: #333333;
  box-shadow: 0px 1px 5px rgba(255, 255, 255, 0.8); }

.drop__menu.active .drop__modeBtn i {
  transform: rotate(-180deg);
  color: #00ffbf; }

.channel__dropMenu {
  width: 140px;
  position: relative; }
  .channel__dropMenu .channel__dropBtn {
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: space-between;
    background-color: #3a3a3a;
    border: 1px solid #3a3a3a;
    border-radius: 5px;
    color: white; }
    .channel__dropMenu .channel__dropBtn i {
      font-weight: 100;
      font-size: 20px;
      transition: transform  0.3s linear; }

.channel__dropLabel {
  margin: 0px  5px; }

.channel__dropContent::-webkit-scrollbar {
  width: 7px; }

.channel__dropContent::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px; }

.channel__dropContent::-webkit-scrollbar-thumb {
  background: #00ffbf;
  border-radius: 25px; }

.channel__dropContent {
  display: none;
  background-color: #3a3a3a; }
  .channel__dropContent .drop__channels {
    margin-top: 2px; }
    .channel__dropContent .drop__channels li {
      padding: 0  10px;
      list-style: none;
      height: 25px; }
    .channel__dropContent .drop__channels li:hover {
      box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.8);
      border-top: 1px solid rgba(255, 255, 255, 0.5);
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      background-color: #00ff88;
      color: black; }

.channel__dropMenu.toggle__dropChannel .channel__dropContent {
  display: block;
  position: absolute;
  bottom: 50px;
  right: 0;
  z-index: 1;
  width: 140px;
  height: 180px;
  overflow-y: auto;
  border: 1px solid white;
  background-color: #333333;
  box-shadow: 0px 1px 5px rgba(255, 255, 255, 0.8); }

.channel__dropMenu.toggle__dropChannel .channel__dropBtn i {
  transform: rotate(-180deg);
  color: #00ffbf; }

.note__dropMenu {
  width: 140px;
  position: relative; }
  .note__dropMenu .note__dropBtn {
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: space-between;
    background-color: #3a3a3a;
    border: 1px solid #3a3a3a;
    border-radius: 5px;
    color: white; }
    .note__dropMenu .note__dropBtn i {
      font-weight: 100;
      font-size: 20px;
      transition: transform  0.3s linear; }

.note__dropLabel {
  margin: 0px  5px; }

.note__dropContent::-webkit-scrollbar {
  width: 7px; }

.note__dropContent::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px; }

.note__dropContent::-webkit-scrollbar-thumb {
  background: #00ffbf;
  border-radius: 25px; }

.note__dropContent {
  display: none;
  background-color: #3a3a3a; }
  .note__dropContent .drop__note {
    margin-top: 2px; }
    .note__dropContent .drop__note li {
      padding: 0  10px;
      list-style: none;
      height: 25px; }
    .note__dropContent .drop__note li:hover {
      box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.8);
      border-top: 1px solid rgba(255, 255, 255, 0.5);
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      background-color: #00ff88;
      color: black; }

.note__dropMenu.toggle__dropNote .note__dropContent {
  display: block;
  position: absolute;
  bottom: 50px;
  right: 0;
  z-index: 1;
  width: 140px;
  height: 180px;
  overflow-y: auto;
  border: 1px solid white;
  background-color: #333333;
  box-shadow: 0px 1px 5px rgba(255, 255, 255, 0.8); }

.note__dropMenu.toggle__dropNote .note__dropBtn i {
  transform: rotate(-180deg);
  color: #00ffbf; }

body {
  background-color: black; }
