.knobs__grid{
  display: grid; 
  position: relative;
  justify-items: center;
  align-items: center;
  @include mixer_grid_define(repeat(8,54px),repeat(3,54px),10px);
  //border: 1px solid white;
  //padding: 5px;
  padding-bottom: 5px;
  
}

.knob {
  display:flex;
  justify-content: center;
  width: 40px;
  height: 40px;
}
.knob-grip {
  width: 40px;
  height: 40px;
  background-color: #232323;
  border-radius: 50%;
  border: 3px solid #aa00ff;
  position: absolute;
  //left: 50%;
  //top: 50%;
 
  
  &:after {
    content: "";
    position: absolute;
    height: 10px;
    width: 2px;
    top: 5px;
    left: 50%;
    background-color: #fff;
    //transform: translateX(-50%);
  }
}

.knob-dial {
  pointer-events: none;
  stroke-width: 8;
  stroke-dasharray: 184 184;
  z-index: 0;
  //left: 50%;
  //top: 50%;
  //transform: translate(-50%, -50%);
}




