*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    max-width: 100%;
}
body{
    font-family: 'Titillium Web', sans-serif;
    background-color: white;
    width: 100vw;
    height: auto;
    max-width: 100%;
    overflow-x: hidden;
}

h1{font-family: 'Titillium Web', sans-serif; font-size: 3rem;}
h2{font-family: 'Titillium Web', sans-serif; font-size: 2.25rem;}
h3{font-family: 'Titillium Web', sans-serif; font-size: 1.5rem;}
h4{font-family: 'Titillium Web', sans-serif; font-size: 1em;}



p{font-size: 1.25em;}


.main__wrapper{
    background-color: white;
    padding-left: 60px;
    padding-right: 60px;
}

.main__grid__item{
    position: relative;
    display: grid;
    grid-template-columns: 100%;
}


/***** COURSES  PAGE *****/ 
.coursesWrapper{
    background-color: rgb(44, 44, 44);
    width: 100%;
    max-width: auto;
    height: 600px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    h2{
        letter-spacing: 0.65rem;
        width: 100vw;
        height: 60px;
        margin-top: 60px;
        font-family: 'Righteous', cursive;
        font-size: 3em;
        color: rgb(243, 241, 208);
    }
    h3{color: rgb(134, 194, 50);
    }
    }

    .searchBar{
        display: flex;
        width:  900px;
        height: 50px;
        align-items: center;
        background-color: white;
        border-bottom: 1px solid aqua;
        color: black;
        #searchFocus{
            background-color: aqua;
            position: relative;
            font-size: 16px;
            padding-top: 16px;
            padding-left: 5px;
            padding-right: 5px;
            padding-bottom: 17px;
            left:-5px;
            margin-right: 5px;
            margin-left: 5px;          
        }
        #search__arrow{
            background-color: aqua;
            position: relative;
            font-size: 16px;
            padding-top: 16px;
            padding-left: 5px;
            padding-right: 5px;
            padding-bottom: 17px;
            right:-5px;
            margin-right: 5px;
            margin-left: 5px;
            &:hover{
                cursor: pointer;
                color:white;
            }

        }
        #search__arrow{
            float: right;
            margin-right: 5px;
            margin-left: 5px;
        }
    }
    .searchBar form{
            width: 100%;
            p{margin: 0;
                //padding: 1em;
            }
            
            
            input{
                width: 80%;
                border:none;
                outline: none;
                
            }
            
    }
    



