/******** HEADER ********/
header{
    font-family: 'Quicksand', sans-serif;
    display: flex;
    z-index: 1;
    width: 100%;
    height: 80px;
    margin-bottom: 2px;
    top:0;
}
#menu {
    display:flex;
    z-index: 1;
    top: 0;
    background-color: $color-black;
    height: 10px;
    width: 100%;
    left:0;
    right: 0;
    justify-content: space-between;
    padding: 0 5%;
    box-sizing: border-box;
    transition: 0.5s;
}



.mutedLogo{
    display: flex;
    flex-direction: column;
   
    color: $color-white;
    cursor: pointer ;
    span{
        padding: 0;
        margin-top: 0;
        font-size: 25px;
    }
}

/* HAM BUTTON */
.btn_menu{
    font-size: 25px;
    color: white;
    cursor: pointer;
    padding-top: 5px;
    display:none;
}

ul.show{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    top:150px;
    z-index: 1;    
}

/* END HEADER */

/******* MAIN NAVBAR ********/

.menu-items{
    display: flex;
    list-style: none;
}

.menu-items li {
    // letter-spacing: 1px;
    border-radius: 3px;
    margin:0 5px;
}

.menu-items li a {
    padding: 20px 8px;
    text-decoration: none;
    font-size: 15px;
    display:block;
    text-transform: uppercase;
    cursor:pointer;
    transition: 0.5s;
    color:$color-white;
    // font-weight:bolder;
    &:hover {
        color: $color-aqua;
       
    }
}



/* END MAIN NAVBAR */

