/******** HEADER ********/
header{
    background-color: white;
    z-index: 10;
    width: 100%;
    height: 80px;
    top:0;
   
}
header nav {
    float: right;
    margin-right: 15px;
    z-index: 1;
    top: 0;
    height: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    transition: 0.5s;
}

.mutedLogo{
    float:left;
    margin-left: 10px;
    img{width:150px;height:auto}
    cursor: pointer ;
    
}

/* HAM BUTTON */
.btn_menu{
    float: right;
    font-size: 25px;
    cursor: pointer;
    padding-top: 15px;
    display:none;
}

ul.show{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    top:150px;
    z-index: 1;    
}

/* END HEADER */

/******* MAIN NAVBAR ********/

.menu-items{
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    list-style: none;
}

.menu-items li {
    //  letter-spacing: 1px;
    
    border-radius: 3px;
    margin:0 5px;
}

.menu-items li a {
    display:block;
    padding: 20px 8px;
    text-transform: uppercase;
    line-height: 1.65;
    text-decoration: none;
    font-size: 0.9375rem;
    letter-spacing: 0.1rem;
    color: black;  
    cursor:pointer;
    transition: 0.3s;
    // font-weight:bolder;
    &:hover {
        color: $color-aqua;
       
    }
}
/* END MAIN NAVBAR */

