.generic__card{
    @extend .card;
    width:  400px;
    height: 530px;   
    text-align: center;
    flex-direction: column;
    
    > img{
         @extend .img;
         width:  400px;
         height: 300px;
    }
    > h3{
        @extend .title;
    } 
    > p{
        @extend .p;
    }
    > button{
        @extend .button;
        width: 100px;
        background-color: $color-dark-gray;
    }
}