.generic__card{
    @extend .card;
    width:  380px;
    height: 530px;   
    text-align: center;
    flex-direction: column;
    
    > img{
         @extend .img;
         width:  380px;
         height: 300px;
    }
    > h3{
        @extend .title;
    } 
    > p{
        @extend .p;
    }
    > button{
        @extend .button;
        width: 100px;
        background-color: $color-dark-gray;
    }
    a{
        text-decoration: none;
        color: $color-white
    }
}

.generic__projects_cards{
    @extend .card;
    width:  380px;
    height: 200px;   
    text-align: center;
    flex-direction: column;
    
    > h3{
        @extend .title;
    } 
    > p{
        @extend .p;
    }
    > button{
        @extend .button;
        width: 100px;
        background-color: $color-dark-gray;
    }
    a{
        text-decoration: none;
        color: $color-white
    }
}

.generic__support__card{
    @extend .card;
    width:  380px;
    height: 500px;   
    text-align: center;
    flex-direction: column;
    > img{
        @extend .img;
        width:  380px;
        height: 300px;
   }
    > h3{
        @extend .title;
    } 
    
    > button{
        margin-top: 30px;
        width: 200px;
        font-family: 'Titillium Web', sans-serif; 
        background-color: $color-dark-gray;
        
    }
    > button{
        cursor: pointer;
            color:white;
            
      
    
    }
}