/* MEDIA RESPONSIVE FOR MOBILE */

@media  (max-width: 960px) {
    
    .main__grid__container{
        display: block;
    }
    
    main{
        margin-top: 70px;
    }
    header{
        width: 100%;
        position: fixed;
        justify-items: center; 
    }
    .mutedLogo {
        width: 120px;
        left: 0;
        transition: width 0.5s ease-out;   
    }

    #menu {
        height: 70px;
        width: 100%;
    }
    .btn_menu{
        color: black;
        display:block;  
        position: fixed;    
    }
    
    .menu-items{
        display:none;
    }

    .menu-items.show{
        display: block; 
        position: fixed;       
        background-color:$color-black;
        width: 100%;
        height:100vh;   
        text-align: center;
        transition: all .4s ease-out;
        left: 0%;   
        right: 0%;
        top: 80px;
    }
    .menu-items li{
        display: block;
        line-height: 20px;
        }
        
    .menu-items li:hover{
        background-color: $color-aqua;
        }

    .menu-items li a{
        font-size: 15px;
        outline: 0;
        border-bottom: 1px solid $color-white;
        color: $color-white;
        }

    .menu-items li a:hover{
        color: $color-aqua;
        color: $color-black;
    }
    #hero{
        display: none;
    }
    #productsHero{
        display:none;
    }
    #projectsHero{
        display:none;
    }
    #aboutHero{
        display:none;
    }
    #products__subMenu{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 6px;
    }
    .subMenu-items li a {
        padding: 12px 8px;
        font-size: 16px;
        display:block;
        text-transform: lowercase;
        cursor:pointer;
        transition: 0.5s;
        color: $color-white ;
        font-weight:lighter;
    }

    .data-content{
        flex-direction: column;
    }

    .maps{
        margin-top: 10px;
        
    }
    .card__products__item{
        width: 100%;
        height: 530px;
        img{
            width: 100%;
            height: 313px;
            object-fit: cover;
        }
    }
    .card__projects__item{
        width: 100%;
        height: 200px;
        
    }
}



@media (min-width:850px){
    
    .productsWrapper{
        display: grid;
        grid-template-columns: repeat(3,430px);
        width: 100vw;
        max-width: auto;
        height: auto;
        justify-content: center;
        text-align: center;
    }
    .projectsWrapper{
        display: grid;
        grid-template-columns: repeat(3,430px);
        gap:20px;
        width: 100vw;
        max-width: auto;
        height: auto;
        justify-content: center;
        text-align: center;
    }
    .data-content{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .contact__info h4 ,p,ul{
        padding: 0em;
        text-align: left;
    }
}

@media  (max-width: 445px) {
    .subMenu-items li a{
        font-size: 10px;
        
    }
    .products__submenu{
        padding: 0 1.5%;
    }
    .mutedLogo{
        display: flex;
        position: relative;
        width: 80px;
        left: 0;
        transition: width 0.5s ease-out;
    }
    #hero{
        display:none;
    }
    
}
