

@media  (max-width: 850px) {/* MEDIA RESPONSIVE FOR MOBILE */
    .about__content
    
    .about__content {
        margin-top: 80px;
    }
    .searchBar{
       position: relative;
 
        width:400px;
    }
    
    .main__grid__container{
        display: block;
    }
    
    header{
        width: 100%;
        position: fixed;
        justify-items: center; 
    }
    .mutedLogo {
        position: relative;
        width: 120px;
        left: calc (100vw -800px);
        transition: width 0.5s ease-out;   
    }

    #menu {
        height: 70px;
        width: 100%;
    }
    .btn_menu{
        float: right;
        margin-right: 15px;
        color: black;
        display:block;  
        
    }
    
    .menu-items{
        display:none;
    }

    .menu-items.show{
        display: block; 
        position: fixed;       
        background-color:$color-black;
        width: 100%;
        height:100vh;   
        text-align: center;
        transition: all .4s ease-out;
        left: 0%;   
        right: 0%;
        top: 80px;
    }
    .menu-items li{
        display: block;
        line-height: 20px;
        }
        
    .menu-items li:hover{
        background-color: $color-aqua;
        }

    .menu-items li a{
        font-size: 15px;
        outline: 0;
        border-bottom: 1px solid $color-white;
        color: $color-white;
        }

    .menu-items li a:hover{
        color: $color-aqua;
        color: $color-black;
    }
    #hero{
        display: none;
    }
    #productsHero{
        display:none;
    }
    #projectsHero{
        display:none;
    }
    #aboutHero{
        display:none;
    }
    #products__subMenu{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 6px;
    }
    .subMenu-items li a {
        padding: 12px 8px;
        font-size: 10px;
        display:block;
        text-transform: lowercase;
        cursor:pointer;
        transition: 0.5s;
        color: $color-white ;
        font-weight:lighter;
    }

    .data-content{
        flex-direction: column;
    }

    .maps{
        margin-top: 10px;
        
    }
    .card__products__item{
        width: 100%;
        height: 530px;
        img{
            width: 100%;
            height: 313px;
            object-fit: cover;
        }
    }
    .card__projects__item{
        width: 100%;
        height: 200px;
        
    }
    .register_product {
        h3{width: 100%;}
        img{display: none;}
        
    }
   
}

@media (min-width:851px){ /* MEDIA RESPONSIVE FOR DESK*/
    
    
    
    .data-content{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .contact__info h4 ,p,ul{
        padding: 0em;
        text-align: left;
    }
    .support__card__container{
        display: grid;
        grid-template-columns: repeat(3,400px);
        width: auto;
        max-width: auto;
        height: auto;
        justify-content: center;
        text-align: center;
    }
    
}
@media  (max-width:375px)  { /* smartphones, Android phones, landscape iPhone */
    
    .searchBar{
        position: relative;
  
         width:350px;
     } }
     @media  (max-width:400px)  { /* smartphones, Android phones, landscape iPhone */
        
        .searchBar{
            position: relative;
      
             width:300px;
         } }
