@mixin colum_define($width, $height,
                    $marginTop,$marginBottom,
                    $marginLeft,$marginRight,$bgColor ){
    width:$width;
    height:$height;
    margin-top: $marginTop;
    margin-bottom:$marginBottom;
    margin-left: $marginLeft;
    margin-right: $marginRight;
    //background-color: $bgColor;
    
}
.global__main__app{
    display: flex;
    background-color: $color-old-white;
    padding: 0px 10px;
}
.app__background{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(3,200px);
    gap:20px;
    width: 100%;
    height: 800px;
    
    padding:10px;
    border-radius: 5px;
    // background-color: $color-old-white;
    background-image: url("/images/appui/backgrounds/fabric_dark.png") ;
    background-repeat: no-repeat;
    background-size: 100% 100%, 100% 100%;
    background-position: 0 0, 0 0;
    box-shadow: 0 2px 1px -1px #FFF inset,
        0 3px 1px -1px #E1DDDC inset,
        2px 0 1px -1px rgba(227, 222, 224, 0.25) inset,
        4px 0 2px -2px rgba(227, 222, 224, 0.25) inset,
        -4px 0 2px -2px rgba(227, 222, 224, 0.35) inset,
        0 -4px 3px -3px #353439 inset,
        30px 40px 50px  rgba(0,0,0,0.5),
        0px 30px 70px  rgba(0,0,0,0.25);
        
}
.app__controller{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    justify-content: center;
    position: relative;
    width: auto;
    height: 200px;
    user-select: none;
    border-radius: 10px;
    border: 4px solid #111;
    background : linear-gradient(180deg, rgba(43, 43, 43, 1) 0%, rgba(31, 31, 31, 1) 100%);
    box-shadow:
    0 25px 30px rgb(15, 15, 15),
    0 2px 8px #555,
    0 0 1px 0 #a0a0a0 inset;
    box-sizing: border-box;
   
        
}
.app__footer{
    display: flex;
    position: fixed;
    padding-top: 10px;
    bottom:0;
    width: 100%;
    height: 50px;
    background-color: $color-black;
    color:$color-white;
    border-top: 1px solid $color-dark-gray;
    border-bottom: 1px solid $color-dark-gray;
    
}

.status__gridContainer{
    position: absolute;
    right:  10px;
}
.status__grid{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4,50px);
    grid-gap: 5px;
    grid-template-rows: 35px;
    padding: 0px;
}

.status__item{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    width: auto;
    height: 20px;
    i{
        font-size: 20px;
    }
}