/* PRODUCT PAGE  */
.main__grid__container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-left: 60px;
    padding-right: 60px;
    grid-gap: 16px;
}
.grid__colum{
    display: flex;
    width: 665px;
    
    flex-direction: column;
    margin-bottom: 16px;
    h3{
        font-family: 'Titillium Web', sans-serif;
        margin-top: 10px;
        color:$color-white;
    }
    
}

.grid__img{
    display: flex;
    width: auto;
    border-radius: 2px;
    background-color: $color-gray;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.item__details{
    display: flex;
    flex-direction: column;
}

.item__details>h3{
    color: rgb(36, 36, 36);
    font-weight: 600;
    font-size: 18px;
    margin: 0 0 1px 0;
}

.item__details> p {
    color: #a0a0a0;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}

/* PRODUCTS SUBMENU */

.products__subMenu{
    float:left;
    margin-left: 10px;
    height: 25px;
    width: auto;
    justify-content: space-between;
    padding: 0 4%;
    box-sizing: border-box;
    
}
.subMenu-items{
    display: flex;
    font-size: 50px;
    list-style: none;
    margin-bottom: 0px;
    
}


.subMenu-items li a {
    
    padding: 0px 0px;
    text-decoration: none;
    font-size: 15px;
    display:block;
    text-transform: lowercase;
    cursor:pointer;
    transition: 0.5s;
    color:white ;
    font-weight:lighter;
    margin-right: 5px;
}

/* END PRODUCTS SUBMENU */