.support__main__container{
    background-color: white;
}
.register_product{
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-bottom: 10px;
    img{
        margin-left: 100px;
        width: 800px;
       filter: invert( 100% );
    }
}

.register__box{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    user-select: none;
    width: 100%;
    
    h2{font-family: 'Titillium Web', sans-serif; 
        font-size: 2.25rem;
    margin-bottom: 20px;}
    h3{font-family: 'Titillium Web', sans-serif;
        margin: 0px;
        background-color: black;
        color: white; 
        font-size: 1.5rem; 
        margin-top: 120px;
    &:hover{
        cursor: pointer;
        background-color: aqua;
        transition: all  0.5s ease-in-out;
    }}
    p{
        margin-top: 60px;
        font-family: 'Titillium Web', sans-serif;
        color: black;
       font-size: 1rem;
    }
}